# =====================
# Python
# =====================
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/
build/
dist/

# =====================
# Experiment Outputs
# =====================
runs/
checkpoint/

# =====================
# IDE
# =====================
.idea/

